[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/IconFontCppHeaders"]
	path = dependencies/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "dependencies/magic_enum"]
	path = dependencies/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "dependencies/nativefiledialog"]
	path = dependencies/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "dependencies/pugixml"]
	path = dependencies/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "dependencies/SDL_mixer"]
	path = dependencies/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
